body 
            {
             margin: 0%;
             padding: 0%;
             background: #F1E3DF;
            } 

.container 
            {
             width: 100%;
             height: 220px;
             background: #3B3C56;
             transform: skewY(-4deg);
            }

.container .img  
            {
             position: absolute;
             top: 8%;
             right: 7%;
             height: 120px;
             width: 120px;
             border-radius: 100%;
             transform:  skewY(5deg);
             overflow: hidden;
             margin-top: 5%;
            }

.container .titulo 
            {
             width: 50%;
             height: 50%;
             position: absolute;
             left: 25%;             
            }
                                        
.container .titulo .p-1
           {
            color: black;
            font-weight: bolder;
            font-size: 39px;
            transform: skewY(4deg);
            margin-bottom: 0%; 
            font-family: "Roboto";
            border-bottom: 5px #F1E3DF solid;
           }

.container .titulo .p-2
           {
            color: black;
            font-family: "Roboto";
            font-weight: bolder;
            font-size: 34px;
            transform: skewY(4deg);
            border-bottom: 5px #F1E3DF solid;
           }



.Datos     
           {
             width: 80%;
             height: 260px;
             background: #3B3C56;
             margin-top: 60px; 
             margin-left: 10%;
             margin-bottom: 40px;
             border-radius: 16px;             
           }

.Datos .datosPersonales
           {
             font-weight: bolder;
             font-size: xx-large;
             text-align: center;
             font-weight: bolder;
             border-top: 5px green solid;
             border-bottom: 5px green solid;
             line-height: 50px;
             border-right: 5px green solid;
             border-left: 5px  green solid;
             font-family: "Roboto";
           
           }                        
.Datos .cuestion 
           {
             color: white;
             font-weight: bolder;
             font-size: x-large;
             display: inline;
             margin-right: 20px;
             margin-left: 20px;
             line-height: 40px;    
             font-family: "Roboto";        
            }

.Datos .dato
            {
             color: black;
             font-size: x-large;
             font-weight: bolder;
             display: inline;
             margin-right: 20px;
             margin-left: 20px;
             line-height: 40px;
             font-family: "Roboto";
             border-bottom: 2px white solid;
            }
.Titulos
            {
           	 width: 80%;
             height: 230px;
             background: #3B3C56;
             margin-top: 60px; 
             margin-left: 10%;
             margin-bottom: 40px;
             border-radius: 16px;
            } 

.Titulos .Titulo  
            {
             font-weight: bolder;
             font-size: xx-large;
             text-align: center;
             font-weight: bolder;
             border-top: 5px blue solid;
             border-bottom: 5px blue solid;
             border-right: 5px blue solid;
             border-left: 5px  blue solid;
             line-height: 50px;
             font-family: "Roboto";
            }
.Titulos .cuestion 
            {
             color: white;
             font-weight: bolder;
             font-size: x-large;
             display: inline;
             margin-right: 20px;
             margin-left: 20px;
             line-height: 40px;
             font-family: "Roboto";
            }
.Titulos .dato
            {
             color: black solid;
             font-weight: bolder;
             font-size: large;
             display: inline;
             line-height: 40px;
             font-family: "Roboto";
             border-bottom: 2px white solid;
            }
.exp  
            {
           	 width: 80%;
             height: 230px;
             background: #3B3C56;
             margin-top: 60px; 
             margin-left: 10%;
             margin-bottom: 40px;
             border-radius: 16px;
            }     
.exp .titulo  
            {
             font-weight: bolder;
             font-size: xx-large;                 
             text-align: center;
             font-weight: bolder;
             border-top: 5px yellow solid;
             border-bottom: 5px yellow solid;
             border-right: 5px yellow solid;
             border-left: 5px  yellow solid;
             line-height: 50px;
             font-family: "Roboto";
            }
.exp .dato
            {
             color: black solid;
             font-weight: bolder;
             font-size: x-large;
             display: inline;
             line-height: 40px;
             margin-left: 20px;
             font-family: "Roboto";
             border-bottom: 2px white solid;
            }     
.contactos        
            {
             width: 80%;
             height: 280px;
             background: #3B3C56;
             margin-top: 60px; 
             margin-left: 10%;
             margin-bottom: 40px;
             border-radius: 16px;
             font-family: "Roboto";
            } 

.contactos .contactos2 
            {
             font-weight: bolder;
             font-size: xx-large;
             text-align: center;
             font-weight: bolder;
             border-top: 5px #96141B solid;
             border-bottom: 5px #96141B solid;
             border-right: 5px #96141B solid;
             border-left: 5px #96141B solid;
             line-height: 50px;
             font-family: "Roboto";
            }

.contactos .cuestion 
            {
             color: white;
             font-weight: bolder;
             font-size: x-large;
             display: inline;
             margin-right: 20px;
             margin-left: 20px;
             line-height: 40px;
             font-family: "Roboto";
            }

.contactos .dato
            {
             color: black solid;
             font-weight: bolder;
             font-size: x-large;
             display: inline;
             line-height: 40px;
             font-family: "Roboto";
             border-bottom: 2px white solid;
            }